{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title|default:"Mundial Reypar"}}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css">

  </head>
  <body>
      <div class="demo-headline">
          <h2 class="demo-logo">
            <div class="logo"></div>
            Polla Mundialista Reypar
            <small>FIFA 2018</small>
          </h2>
      </div>
      <h3 class="demo-panel-title">Escoge una opción</h3>
  </body>
</html>
