{% extends 'clients/base.html' %}
{% block title %}Registro{% endblock %}
{% block content %}
<div class="panel-body loginbox">
<br>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form class="" action="." method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="checkbox" onchange="document.getElementById('sendNewSms').disabled = !this.checked;" name="vehicle" value="Car" checked><a href="{% url 'terms' %}">
  Acepto los términos y condiciones</a><br>

  <input type="submit" id="sendNewSms" class="btn  btn-primary" name="" value="Registrar">

</form>
</div>
{% endblock %}
<!-- TODO:  -->
