{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title|default:"Mundial Reypar"}}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/js/match.js"></script>
  </head>
  <body>
      <div class="demo-headline">
        {% include 'world_cup/navbar.html' %}
      </div>
      <div class='container' style="margin-bottom: 4rem;">
          <h2 class="demo-logo">
            Polla Mundialista Reypar
            <small>FIFA 2018⚽</small>
          </h2>
        {% if permiso == None %}
          Ponte en contacto con el administrador, no han definido las fechas de la actividad
        {% elif permiso == False %}
          Las fechas para guardar el pronóstico eran desde {{start_date}} hasta el {{end_date}} 😰
        {% else%}
        <section>
          {% if user.profile.groups_filled == True %}
          <span>Ir a: </span>
          {% endif %}
          {% include 'world_cup/button_group.html' %}
        </section>

        {% block content %}
        {% endblock %}
        {% endif %}
      </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
