{% extends 'world_cup/base.html' %}
{% block content %}
Hola {{ user.get_username }}!
Estas son tus predicciones:

<br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Fecha</th>
      <th>Equipo 1</th>
      <th>Goles</th>
      <th>Goles</th>
      <th>Equipo 2</th>
    </tr>
  </thead>
  <tbody>
  {% for guess in object_list %}
  <tr>
    <td>{{guess.date}}</td>
    <td>{{guess.team_one}} {{guess.team_one.emoji}}</td>
    <td>{{guess.team_one_score}}</td>
    <td>{{guess.team_two_score}}</td>
    <td>{{guess.team_one.emoji}} {{guess.team_two}}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<br /><br />
{% if user.profile.fourths_filled == False %}
<div class="col-xs-12 text-center">
  <a href='/fase_cuartos/' role='button' class='btn btn-lg btn-primary'>Llenar cuartos de final </a>
</div>
{% endif %}

{% endblock %}
