{% extends 'world_cup/base.html' %}
{% block content %}

<br>

<form class="" action="/fase_final/" method="post">
{% csrf_token %}
{% if user.profile.trd_fth_filled == False %}
Llena la fase de tercer y cuarto puesto primero para llenar la fase final😯
{% else %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Fecha</th>
      <th>Equipo 1</th>
      <th>Goles</th>
      <th>Goles</th>
      <th>Equipo 2</th>
      <th>Penal</th>
      <th>Penal</th>
    </tr>
  </thead>
  <tbody>
  {% for match in object_list %}
  <tr>
    <input type="hidden" name="{{match.label}}|" value="{{match.label}}|">
    <td>{{match.date}}</td>
    <td>{{match.team_one}} {{match.team_one.emoji}}</td>
    {% if match.gambled == False %}
    <td><input type="number" min="0" class="form-control" name="{{match.label}}|real_1" value={{match.team_one_score}} required></td>
    <td><input type="number" min="0" class="form-control" name="{{match.label}}|real_2" value={{match.team_two_score}} required></td>
    {% else %}
    <td>{{match.team_one_score}}</td>
    <td>{{match.team_two_score}}</td>
    {% endif %}
    <td>{{match.team_two.emoji}} {{match.team_two}}</td>
    {% if match.gambled == False %}
    <td><input type="number" min="0" class="form-control" name="{{match.label}}|penals_1" value={{match.penals_team_one}} ></td>
    <td><input type="number" min="0" class="form-control" name="{{match.label}}|penals_2" value={{match.penals_team_two}} ></td>
    {% else %}
    <td>{{match.penals_team_one}}</td>
    <td>{{match.penals_team_two}}</td>
    {% endif %}
  </tr>
  {% endfor %}
  </tbody>
</table>
{% if user.profile.final_filled == False %}
<div class="col-xs-12 text-center">
  <input type="submit" class='btn btn-lg btn-primary' name="" value="Registrar resultados">
</div>
{% endif %}
{% endif %}
</form>

{% block group_detail %}
{% endblock %}
{% endblock %}
