{% extends 'world_cup/base.html' %}
{% block content %}

Hola {{ user.get_username }}
<br>

<form class="" action="/fase_cuartos/" method="post">
{% csrf_token %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Fecha</th>
      <th>Equipo 1</th>
      <th>Goles</th>
      <th>Goles</th>
      <th>Equipo 2</th>
      <!-- <th>Penal</th>
      <th>Penal</th> -->
    </tr>
  </thead>
  <tbody>
  {% for match in object_list %}
  <tr>
    <td>{{match.date}}</td>
    <td>{{match.team_one}}</td>
    {% if match.gambled == False %}
    <td><input type="number" name="{{match.label}}_1" value={{match.team_one_score}}></td>
    <td><input type="number" name="{{match.label}}_2" value={{match.team_two_score}}></td>
    {% else %}
    <td>{{match.team_one_score}}</td>
    <td>{{match.team_two_score}}</td>
    {% endif %}
    <td>{{match.team_two}}</td>
    <!-- <td><input type="number" name="{{match.label}}_penals_1" value={{match.team_one_score}}></td>
    <td><input type="number" name="{{match.label}}penals_2" value={{match.team_two_score}}></td> -->
  </tr>
  {% endfor %}
  </tbody>
</table>
{% if user.profile.fourths_filled == False %}
<div class="col-xs-12 text-center">
  <input type="submit" class='btn btn-lg btn-primary' name="" value="Ir a Semifinal">
</div>
{% endif %}
</form>

{% block group_detail %}
{% endblock %}
{% endblock %}
