{% extends 'world_cup/base.html' %}
{% block content %}
<br>
<div class="col-xs-12 text-center">
  <a href='/fase_octavos/' class='btn btn-lg btn-primary'>Ir a Octavos </a>
</div>

<br>

Estas son tus predicciones:

<br>
{% for key, value in groups.items %}
  <h3>Grupo {{ key }} </h3>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Fecha</th>
      <th>Equipo 1</th>
      <th>Goles</th>
      <th>Goles</th>
      <th>Equipo 2</th>
    </tr>
  </thead>
  <tbody>
  {% for guess in value %}
  <tr>
    <td>{{guess.date}}</td>
    <td>{{guess.team_one}}</td>
    <td>{{guess.team_one_score}}</td>
    <td>{{guess.team_two_score}}</td>
    <td>{{guess.team_two}}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>


{% endfor %}
<div class="col-xs-12 text-center">
  <a href='/fase_octavos/' class='btn btn-lg btn-primary'>Ir a Octavos </a>
</div>

{% endblock %}
