{% extends 'clients/base.html' %}
{% block content %}

Hola {{ user.get_username }}!
<nav class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a class="navbar-brand" href="#">Fase de Grupos</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-01">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#fakelink">Grupo A</a></li>
      <li><a href="#fakelink">Grupo B</a></li>
      <li><a href="#fakelink">Grupo C</a></li>
      <li><a href="#fakelink">Grupo D</a></li>
      <li><a href="#fakelink">Grupo F</a></li>
      <li><a href="#fakelink">Grupo G</a></li>
      <li><a href="#fakelink">Grupo H</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav><!-- /navbar -->
{% block group_detail %}
{% endblock %}
{% endblock %}
