{% extends 'clients/base.html' %}
{% block content %}

Hola {{ user.get_username }}!
<nav class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a class="navbar-brand" href="#">Fase de Grupos</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-01">
    <ul class="nav navbar-nav">
      <li class=""><a href="/groups/A/">Grupo A</a></li>
      <li><a href="/groups/B/">Grupo B</a></li>
      <li><a href="/groups/C/">Grupo C</a></li>
      <li><a href="/groups/D/">Grupo D</a></li>
      <li><a href="/groups/E/">Grupo E</a></li>
      <li><a href="/groups/F/">Grupo F</a></li>
      <li><a href="/groups/G/">Grupo G</a></li>
      <li><a href="/groups/H/">Grupo H</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav><!-- /navbar -->
{% block group_detail %}
{% endblock %}
{% endblock %}
