{% extends 'world_cup/base.html' %}
{% block content %}
<br>

<form class="" action="/fase_grupos/" method="post">
{% csrf_token %}
{% for key, value in groups.items %}
  <h3>Grupo {{ key }} </h3>
<div class='panel panel-default'>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Fecha</th>
      <th>Equipo 1</th>
      <th>Goles</th>
      <th>Goles</th>
      <th>Equipo 2</th>
    </tr>
  </thead>
  <tbody>
  {% for match in value %}
  <tr>
    <td>{{match.date}}</td>
    <td>{{match.team_one}} {{match.team_one.emoji}}</td>
    {% if match.gambled == False  or match.played == False %}
    <td class='col-xs-1'><input type="number" name="{{match.label}}_1" value={{match.team_one_score}}></td>
    <td class='col-xs-1'><input type="number" name="{{match.label}}_2" value={{match.team_two_score}}></td>
    {% else %}
    <td>{{match.team_one_score}}</td>
    <td>{{match.team_two_score}}</td>
    {% endif %}
    <td>{{match.team_two.emoji}} {{match.team_two}}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endfor %}
{% if user.profile.groups_filled == False %}
<div class="col-xs-12 text-center">
  <input type="submit" class='btn btn-lg btn-primary' name="" value="Registrar resultados">
</div>
{% endif %}
</form>
{% block group_detail %}
{% endblock %}
{% endblock %}
