{% extends 'world_cup/base1.html' %}
{% load staticfiles %}
{% block content %}
  <div class="ranking">
    {% if user.is_authenticated %}
      <h1>{{ user.username }} Tu puntaje es: {{ user.profile.total_points }}</h1>
      <br />
    {% endif %}
    <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Posición</th>
        <th>Usuario</th>
        <th>Puntaje</th>
      </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
    <tr>
      {% if user.username == object.user.username %}
        <td><b>{{ forloop.counter }}</b></td>
        <td><b>{{ object.user.username }}</b></td>
        <td><b>{{ object.total_points }}</b></td>
      {% else %}
        <td>{{ forloop.counter }}</td>
        <td>{{ object.user.username }}</td>
        <td>{{ object.total_points }}</td>
      {% endif %}
      <br>
    </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>
{% endblock %}
