{% extends 'world_cup/base1.html' %}
{% block js %}
{% endblock %}
{% block content %}
<h2>TÉRMINOS Y CONDICIONES</h2>
<h3>JUEGO PROMOCIONAL “POLLA MUNDIALISTA” IMPORTACIONES REYPAR</h3>
<p>El objeto de la “Polla Mundialista” de IMPORTACIONES REYPAR S.A.S, es que
algunos trabajadores de las empresas clientes amantes del fútbol, disfruten de
un juego promocional diseñado para demostrar sus conocimientos como
hinchas de este juego, en este, participaran acertando en los resultados de los
partidos del Mundial de Rusia 2018.</p>

<h3>CONDICIONES GENERALES</h3>
<ol>
  <h4><li>VIGENCIA</li></h4>
  <p>La vigencia de la “Polla Mundialista” es desde el 1 de mayo de 2018 hasta el 17
de julio de 2018, ambas fechas incluidas. A continuación, se detallan las fechas
importantes a tener en cuenta:</p>

  <ul>
    <li>Fechas para diligenciar la “Polla Mundialista”, desde el 1 de mayo hasta el
31 de mayo de 2018, ambas fechas incluidas.</li>
    <li>Fecha de visualización de resultados, desde el 15 de junio y hasta el 17 de
julio de 2018, ambas fechas incluidas.</li>
    <li>Fecha de vigencia del cierre de la polla, el 17 de julio de 2018, donde se
conocerán los ganadores.</li>
  </ul>

  <h4><li>PROCEDIMIENTO DE PARTICIPACIÓN</li></h4>
    <p>Para participar en el presente juego promocional, se debe cumplir con las
siguientes condiciones:</p>
    <ol type="a">
     <li>Teniendo en cuenta el perfil de compra y pago de cada uno de sus
clientes, IMPORTACIONES REYPAR los agrupará en tres (3) categorías
<b>(A, B y C)</b>; dependiendo de la categoría asignada, se les darán un
número de cupos <b>10, 5 y 3</b> respectivamente. Como se puede observar en
la siguiente tabla:</li>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <b><th>Perfil del cliente</th></b>
      <b><th>Cupos</th></b>
    </tr>
  </thead>
  <tbody>
  <tr>
      <td>A</td>
      <td>10</td>
  </tr>
  <tr>
      <td>B</td>
      <td>5</td>
  </tr>
  <tr>
      <td>C</td>
      <td>3</td>
  </tr>
  </tbody>
</table>
     <li>Los cupos serán asignados por parte de nuestros clientes a algunos de sus
trabajadores, los cuales podrán ingresar al portal de nuestra página web
con el número del NIT de la empresa en la cual trabajan.</li>
     <li>Se les asignará un usuario y contraseña que serán enviados al correo
electrónico que ingrese cada uno en el portal de IMPORTACIONES
REYPAR.</li>
    <li>Las personas podrán diligenciar la “Polla Mundialista” desde el 1 de mayo
a las 12:00 a.m. hasta el 31 de mayo a las 12:00 p.m.</li>
    <li>A partir del 1 de junio desde las 00:00 am ya no se podrá diligenciar
ninguna polla.</li>
    <li>Los resultados parciales del ranking de los primeros cien (100) primeros
participantes, se publicarán en redes sociales, en las siguientes fechas:</li>
    <ul>
      <li>Primera ronda: el 29 de junio de 2018.</li>
      <li>Octavos de final: el 4 de julio de 2018.</li>
      <li>Cuartos de final: el 8 de julio de 2018.</li>
      <li>Semifinal: el 12 de julio de 2018</li>
    </ul>
    <li>El resultado final y los ganadores se publicarán en redes sociales el 17 de
julio de 2018.</li>
    <li>Los participantes podrán ingresar en cualquier momento y revisar su
ranking y su puntaje utilizando su usuario y contraseña.</li>
    <li>No podrán participar menores de edad ni personas jurídicas.</li>
    </ol>
  <h4><li>DINÁMICA PARA LA OBTENCIÓN DE PUNTOS</li></h4>
  <ol type="a">
    <li>En cada partido jugado dentro del mundial Rusia 2018, se dará una
puntuación por los aciertos en el ganador y marcador; se dará 1 punto al
acertar el ganador y 3 puntos por acertar cada puntuación.</li>
    <li>Selección de ganadores: Los puntos acumulados generarán un ranking de
participantes, este se podrá visualizar todo el tiempo en la página
www.importacionesreypar.com/rankingpollamundialista, el cual se
actualizará a medida que se vayan teniendo los resultados de los partidos,
el ranking de ganadores se obtendrá el martes 17 de julio de 2018, fecha
en la cual se cierra la “Polla Mundialista”, de acuerdo con la dinámica de
participación y selección de ganadores explicada en el presente
documento.</li>
    <li>Solo existirán tres (3) ganadores quienes serán elegidos en orden
descendente según los puntos acumulados en todas las etapas de la “Polla
Mundialista” (primera ronda, octavos, cuartos, semifinal y final).</li>
    <li>En caso de empate entre varios participantes el premio será fraccionado
entre ellos.</li>
  </ol>

  <h4><li>OBLIGACIÓNÓN DE LOS PARTICIPANTES</li></h4>
    <p>Para ser acreedores de cualquier premio de la “Polla Mundialista”, se deben
  tener en cuenta los siguientes requisitos:</p>
    <ol type="a">
      <li>Cumplir con el “procedimiento de participación”, expreso en el presente
documento.</li>
      <li>Reclamar el premio en el plazo fijado en este reglamento.</li>
      <li>Aceptar y ajustarse a las condiciones, requisitos y restricciones que se
detallan en el presente documento. Una vez el participante se registra y
diligencie la “Polla Mundialista”, acepta y se compromete a respetar el
presente reglamento en su totalidad.</li>
    </ol>
  <h4><li>RESPONSABILIDAD DE IMPORTACIONES REYPAR S.A.S</li></h4>
    <ol type="a">
      <li>Importaciones Reypar se compromete a entregar los premios ofrecidos
en la presente campaña según las fechas expresas en el presente
documento.</li>
      <li>Entregar a los ganadores los premios en el tiempo y lugar indicado.</li>
    </ol>
  <h4><li>RESPONSABILIDAD DE LOS GANADORES</li></h4>
    <ol type="a">
      <li>Se tendrán unas fechas establecidas para reclamar el premio en el
establecimiento indicado en el que se hará la entrega, el cual estará
estipulado en el correo enviado por IMPORTACIONES REYPAR S.A.S.
donde se encuentra toda la información relacionada con el premio
ganado.</li>
      <li>Es responsabilidad de los ganadores respetar las fechas establecidas para
el reclamo del premio. Si este no se reclama en las fechas que se establece
en el correo, el ganador perderá el derecho de reclamar el premio.</li>
      <li>Es responsabilidad del ganador cualquier gasto necesario para retirar o
hacer efectivos los premios.</li>
      <li>Es responsabilidad del ganador seguir los pasos para la correcta
utilización del bono de premio.</li>
    </ol>
  <h4><li>PREMIOS</li></h4>
      <p>La Polla Mundialista tendrá los siguientes premios:</p>
      <ul>
        <li>Primer Puesto: BIG PASS por un valor de un millón quinientos mil pesos
($1.500.000).</li>
        <li>Segundo Puesto: BIG PASS por un valor de un millón de pesos
($1.000.000).</li>
        <li>Tercer Puesto: BIG PASS por un valor de quinientos mil pesos
($500.000).</li>
      </ul>
      <p>Los bonos regalo no podrán ser cambiados por efectivo, este bono no es
acumulable con otras promociones. El bono regalo es un documento al
portador, podrá usarse parcial o totalmente en cualquiera de los almacenes que
estén vinculados en el país. El bono regalo tiene de seis (6) meses de vigencia a
partir de su activación. Aplican las condiciones y restricciones de las tarjetas
bono regalo.</p>
      <p>La información de la entrega de los premios, se realizará a través correo
electrónico, el cual será enviado a cada uno de los participantes ganadores el día
el día 18 de julio de 2018. El correo detallará el puesto, el valor, el sitio y fecha
de entrega del premio e incluirá los respectivos elementos de seguridad.</p>
      <p>Bajo la Ley 643 de 2001, reglamentada por el Decreto 493 de 2001, este sorteo
está autorizado por COLJUEGOS.</p>
      <p>El sólo hecho de participar en el presente juego promocional, cada concursante
que se registre acepta quedar registrado inmediatamente en la base de datos de
IMPORTACIONES REYPAR S.A.S., para recibir por correo electrónico ofertas,
promociones e información de carácter comercial de la empresa.</p>
      <p>IMPORTACIONES REYPAR S.A.S. aclara que cuando las personas ya no
quieran recibir los mails de ofertas y promociones podrán anular su suscripción
en el momento que deseen.</p>
</ol>
  <h4><li>AVISO DE PRIVACIDAD</li></h4>
    <p>IMPORTACIONES REYPAR S.A.S. como Responsable de los datos personales
objeto de tratamiento por parte de esta sociedad, comunica a los titulares de los
mismos, que las políticas de tratamiento de la información recolectada pueden
ser consultadas a través de los siguientes mecanismos que ponemos a su
disposición:</p>
<ul>
  <li>Página web:
<a href="/terminos_y_condiciones_polla">www.importacionesreypar.com/terminos_y_condiciones_polla</a></li>
  <li>Correo electrónico: mercadeo@importacionesreypar.com</li>
  <li>Teléfono (57) 4 332 88 44- Lunes a Viernes de 8am a 5pm</li>
  <li>Dirección: Calle 46 A Sur No. 49 36, Envigado, Antioquia, Colombia</li>
</ul>
<p>Tanto el tratamiento como la finalidad a la cual serán sometidos los datos
personales suministrados se sujetarán al descrito en la autorización
suministrada para tal fin, dentro de la cual se incorpora:


..”La recolección, almacenamiento, utilización, circulación, supresión, y en
general, la realización de cualquier otro tratamiento sobre los datos personales
suministrados, necesarios para todos aquellos aspectos inherentes al vínculo
contractual, civil, comercial, laboral y/o cualquier otro que se llegare a derivar
celebrado con el titular, así como aquellos relacionados con el desarrollo del
objeto social principal de la sociedad responsable, lo que implica el uso de los
datos en actividades de mercadeo, promoción y de ser el caso, cuando la
actividad comercial lo requiera, la transferencia de los mismos a un tercero
(incluyendo terceros países), bajo los parámetros de la ley 1581 de 2.012 y
demás normatividad vigente que regule la materia…”</p>
<p>Conforme lo dispone la Ley 1581 de 2012, los titulares de datos personales
tienen derecho a:</p>
<ul>
  <li>Conocer, actualizar y rectificar sus datos personales frente a los Responsables
del Tratamiento o Encargados del Tratamiento. Este derecho se podrá ejercer,
entre otros frente a datos parciales, inexactos, incompletos, fraccionados, que
induzcan a error, o aquellos cuyo Tratamiento esté expresamente prohibido o no
haya sido autorizado;</li>
  <li>Solicitar prueba de la autorización otorgada al Responsable del Tratamiento
salvo cuando expresamente se exceptúe como requisito para el Tratamiento, de
conformidad con lo previsto en el artículo 10 de la ley citada;</li>
  <li>Ser informado por el Responsable del Tratamiento o el Encargado del
Tratamiento, previa solicitud, respecto del uso que les ha dado a sus datos
personales;</li>
  <li>Presentar ante la Superintendencia de Industria y Comercio quejas por
infracciones a lo dispuesto en la presente ley y las demás normas que la
modifiquen, adicionen o complementen;</li>
<li>Revocar la autorización y/o solicitar la supresión del dato cuando en el
Tratamiento no se respeten los principios, derechos y garantías constitucionales
y legales. La revocatoria y/o supresión procederá cuando la Superintendencia de Industria y Comercio haya determinado que en el
Tratamiento el Responsable o Encargado han incurrido en conductas contrarias
a esta ley y a la Constitución;</li>
<li>Acceder en forma gratuita a sus datos personales que hayan sido objeto de
Tratamiento.</li>
</ul>

<p>IMPORTACIONES REYPAR S.A.S.</p>
<p>Calle 46 A Sur No. 49 36, Envigado, Antioquia, Colombia</p>
<p><a href="https:/www.importacionesreypar.com">www.importacionesreypar.com</a></p>
<h4>A TENER EN CUENTA</h4>
<p>Todas las personas interesadas en participar deberán tener cédula de
ciudadanía o de ser el caso, cédula de extranjería, la cual deberá presentarse si
es acreedor del premio. Los tres ganadores, deberá ser trabajador de uno de
nuestros clientes al momento de recibir el premio. Toda persona que desee
participar en el juego promocional o reclamar el premio, deberá tener
conocimiento de este Reglamento, ya que la aceptación y recibo del premio
conlleva la forzosa e ineludible obligación de conocer las condiciones de
participación, así como las condiciones, limitaciones y responsabilidades, no
solo de este reglamento, sino las que en virtud de este mismo documento
conlleva el reclamo y aceptación del premio.</p>
<h4>PREMIO</h4>
<p>Serán tres (3) ganadores, primer puesto: BIG PASS por un valor de $1.500.000,
segundo puesto: BIG PASS por un valor de $1.000.000 y tercer puesto: BIG
PASS por un valor de $500.000.</p>
<p>Los premios se entregarán los 30 días siguientes a que respectivo ganador
manifieste que sus datos corresponden a los del ganador.</p>
<p>Nota: Si el ganador respectivo no es localizado durante los siguientes tres (3)
días posteriores al anuncio de que ha ganado o sus datos no corresponden con
los que se aportaron al momento de inscribirse en la página web para participar,
o simplemente no acepta el premio o se negare a firmar el documento de
aceptación del mismo, IMPORTACIONES REYPAR S.A.S otorgará el premio al
ganador que haya quedado en el orden siguiente de la lista de participantes en el
juego realizado, pues por seguridad en el “Polla Mundialista” sacamos otras tres
posibles opcionados en caso de no localizar a los ganadores. El nuevo ganador
tendrá las mismas obligaciones indicadas en estos términos. Los organizadores
comunicarán por 2 vías al ganador de su condición: telefónicamente y correo. Si
no fuere localizado o no cumple con los requisitos reglamentarios para recibir el
premio, de dicha circunstancia se dejará constancia en el acta de anulación de la
actividad. IMPORTACIONES REYPAR S.A.S. no tendrán la obligación de
investigar los motivos por los cuales una persona no es contactada en el número
de teléfono registrado o sus datos no concuerdan con el registro respectivo o
base de datos, ni tampoco el motivo de no aceptación de los premios.</p>
<h4>AUTORIZACIÓN TRATAMIENTO DATOS PERSONALES:</h4>
<p>Mediante el diligenciamiento de este formulario, usted en calidad de titular de
la información; de manera libre, expresa, voluntaria e informada, autoriza a
IMPORTACIONES REYPAR S.A.S. o a la persona natural o jurídica a quién este
encargue, a recolectar, almacenar, utilizar, circular, suprimir y en general, a
realizar cualquier otro tratamiento a los datos personales por usted
suministrados, para todos aquellos aspectos inherentes al presente concurso y/o
actividad promocional, y cualquier otro relacionado con el desarrollo del objeto
social principal del referida sociedad, lo que implica el uso de los datos en
actividades de mercadeo, promoción y de ser el caso, cuando la actividad
comercial lo requiera, la transferencia de los mismos a un tercero (incluyendo
terceros países), bajo los parámetros de la ley 1581 de 2.012 y demás
normatividad vigente que regule la materia. En todo caso, IMPORTACIONES
REYPAR garantiza las condiciones de seguridad, privacidad y demás principios
que impliquen el tratamiento de datos personales acorde con la legislación
aplicable. Esta autorización se mantendrá por el tiempo de duración del vínculo
o la prestación del servicio y por el tiempo de duración de la sociedad
responsable, conforme lo establecido en sus estatutos.</p>
<h4>CONDICIONES Y RESTRICCIONES</h4>
<p>La participación de los interesados, así como la actividad y los premios, están
sujetos a las condiciones y restricciones que se indican en estos términos.
Cualquier situación que no se encuentre prevista en el presente reglamento, será
resuelto por los organizadores, en estricto apego a las leyes de la República de
Colombia. Deberá existir total coincidencia entre los datos brindados para
participar y el documento de identificación de cualquiera de los ganadores, de
otro modo cualesquiera de los premios no serán entregados. La responsabilidad
de IMPORTACIONES REYPAR S.A.S. culmina con la entrega del premio. El
ganador exime de toda responsabilidad a los organizadores del uso o
destinación que diere al premio, más aún si se tratare de actividades ilícitas o
que atenten contra la ley y/o las buenas costumbres. El ganador recibirá su
premio y no se admiten cambios por dinero, valores o cualquier otro producto
material. Si no acepta el premio o sus condiciones, este premio se considera
renunciado y extinguido en relación al ganador y no tendrá derecho a reclamo o
indemnización alguna, ni siquiera parcialmente. El ganador deberá firmar
conforme el recibo de su premio.</p>
<p>El derecho del premio no es transferible, negociable, ni puede ser
comercializado o canjeado por dinero en efectivo, ni por ningún otro premio.
Este premio es entregado únicamente a la persona ganadora.</p>
<p>IMPORTACIONES REYPAR S.A.S. son los patrocinadores del presente evento,
y es el único administrador y organizador del presente juego promocional. Así
mismo Facebook no es el patrocinador del evento y por tanto tampoco tiene
responsabilidad en esta actividad.</p>
<p>IMPORTACIONES REYPAR S.A.S. no se hacen responsables por problemas o
fallas en la conexión, o fuera de línea de la página web, fallas de sistemas, o
aspectos técnicos del aplicativo del registro que inhiban el mismo registro o
ingreso de los participantes de la “Polla Mundialista”.</p>
<p>En el evento de generarse algún impuesto (ganancia ocasional) con la
realización de esta actividad conforme la legislación vigente correrá por parte de
IMPORTACIONES REYPAR.</p>
<h4>DERECHOS DE IMAGEN</h4>
<p>Con el hecho de participar en la actividad, el ganador de manera libre, expresa,
voluntaria e informada acepta y autoriza a IMPORTACIONES REYPAR S.A.S.
y/o a la persona natural o jurídica a quien encargue, para que incluya en
cualquier soporte audiovisual que sus nombres, copys, ideas e imágenes que
aparezcan en los programas, publicaciones y demás medios publicitarios y en
general en todo material de divulgación con los fines promocionales que
IMPORTACIONES REYPAR S.A.S. deseen hacer durante el evento o una vez
finalizado el mismo, sin que ello implique la obligación de remunerarlos o
compensarlos adicionalmente. Así mismo, renuncia a cualquier reclamo por
derechos de imagen. Por virtud de esta autorización los ganadores declaran que
son los propietarios integrales de los derechos sobre el contenido audiovisual y
en consecuencia garantizan que pueden otorgar la presente autorización sin
limitación alguna. En todo caso responderán por cualquier reclamo que en
materia de derecho de autor se pueda presentar, exonerando de cualquier
responsabilidad a IMPORTACIONES REYPAR S.A.S.</p>
<h4>SUSPENSIÓN</h4>
<p>En caso de haber motivos fundados en: fuerza mayor, caso fortuito, o hechos de
terceros, tales como desastres naturales, guerras, huelgas o disturbios, así como
también situaciones que afecten la actividad, como cancelación parcial o total
del mundial; o en caso de detectarse un fraude o intento de fraude en perjuicio
de los organizadores o los participantes de la misma, IMPORTACIONES
REYPAR S.A.S, podrá modificar en todo o en parte esta actividad, así como
suspenderlo temporal o permanentemente sin asumir ninguna responsabilidad
al respecto. En estos casos, el fundamento de las medidas que se adopten, así
como las pruebas que demuestren la existencia de la causa invocada por los
organizadores estarán a disposición de cualquier interesado.</p>
<h4>PUBLICACIÓN</h4>
<p>Estos términos estarán publicados en nuestro Fan Page.</p>
<p>Los nombres de los ganadores y puestos dentro del concurso, será publicado en los sitios de Internet del organizador para disposición de todo el público.</p>
<h4>DISPOSICIONES FINALES</h4>
<p>El solo hecho de participar en el juego promocional “Polla Mundialista” implica la total aceptación de las bases del juego, así como las decisiones de IMPORTACIONES REYPAR. S.A.S.
</p>
<p>No Podrán participar empleados de IMPORTACIONES REYPAR S.A.</p>
<p>Los participantes otorgarán una licencia no exclusiva con la cual autorizan a IMPORTACIONES REYPAR S.A.S. la fijación, reproducción, la puesta a disposición de la obra por cualquier medio o canal de comunicación. A publicarla en el sitio web de www.importacionesreypar.com y a realizar todos los actos necesarios para tal fin.
</p>
<p>En caso de que la participación en este juego promocional implique el envío de una foto o video, u otro similar; el participante autoriza a IMPORTACIONES REYPAR, a su uso y/o modificación a través de internet, avisos publicitarios o cualquier otro medio de comunicación, sin que esto implique el reconocimiento de contraprestación alguna a favor del participante.
</p>
<p>Esta autorización se mantendrá de manera indefinida.</p>
{% endblock %}
