{% extends 'world_cup/base.html' %}
{% block content %}
Hola {{ user.get_username }}!
Estas son tus predicciones:

<br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Fecha</th>
      <th>Equipo 1</th>
      <th>Goles</th>
      <th>Goles</th>
      <th>Equipo 2</th>
    </tr>
  </thead>
  <tbody>
  {% for guess in object_list %}
  <tr>
    <td>{{guess.date}}</td>
    <td>{{guess.team_one}}</td>
    <td>{{guess.team_one_score}}</td>
    <td>{{guess.team_two_score}}</td>
    <td>{{guess.team_two}}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
<br />
{% if user.profile.trd_fth_filled %}
<div class="col-xs-12 text-center">
  <a href='/fase_final/' role='button' class='btn btn-lg btn-primary'>Llenar final</a>
</div>
{% endif %}




{% endblock %}
