{% load staticfiles %}
{% load static %}
{% block footer %}
  <div class=" footer">
    <div class="footer-list">
    <!-- <img src="{% static "clients/background.jpg" %}" alt="My image"/> -->
    <figure>
      <img  src="{% static "clients/ASAM.png" %}" alt="My image"/>
    </figure>
    <figure>
      <img  src="{% static "clients/AUTOMOTOR.png" %}" alt="My image"/>
    </figure>
    <figure>
      <img  src="{% static "clients/BETO.png" %}" alt="My image"/>
    </figure>
    <figure>
      <img  src="{% static "clients/CFB.png" %}" alt="My image"/>
    </figure>
    <figure>
      <img  src="{% static "clients/EBI.png" %}" alt="My image"/>
    </figure>
    <figure>
      <img  src="{% static "clients/ELRING.png" %}" alt="My image"/>
    </figure>
    <figure>
      <img  src="{% static "clients/HUTCHINSON.png" %}" alt="My image"/>
    </figure>
    <figure>
      <img  src="{% static "clients/KAPARS.png" %}" alt="My image"/>
    </figure>
    <figure>
      <img  src="{% static "clients/KAUTEK.png" %}" alt="My image"/>
    </figure>
    <figure>
      <img  src="{% static "clients/MAHLE.png" %}" alt="My image"/>
    </figure>
    <figure>
      <img  src="{% static "clients/MAPA.png" %}" alt="My image"/>
    </figure>

    <figure>
      <img  src="{% static "clients/SRS.png" %}" alt="My image"/>
    </figure>
    <figure>
      <img  src="{% static "clients/TAKSIM.png" %}" alt="My image"/>
    </figure>
    <figure>
      <img  src="{% static "clients/TEKNOROT.png" %}" alt="My image"/>
    </figure>
    <figure>
      <img  src="{% static "clients/Renault-logo.png" %}" alt="My image"/>
    </figure>
    <!-- <img width="200" src="{% static "clients/AUTOMOTOR.png" %}" alt="My image"/>
    <img width="200" src="{% static "clients/BETO.png" %}" alt="My image"/>
    <img width="200" src="{% static "clients/CFB.png" %}" alt="My image"/>
    <img width="200" src="{% static "clients/EBI.png" %}" alt="My image"/>
    <img width="200" src="{% static "clients/ELRING.png" %}" alt="My image"/>
    <img width="200" src="{% static "clients/HUTCHINSON.png" %}" alt="My image"/>
    <img width="200" src="{% static "clients/KAPARS.png" %}" alt="My image"/>
    <img width="200" src="{% static "clients/KAUTEK.png" %}" alt="My image"/>
    <img width="200" src="{% static "clients/MAHLE.png" %}" alt="My image"/>
    <img width="200" src="{% static "clients/MAPA.png" %}" alt="My image"/>
    <img width="200" src="{% static "clients/Renault-logo.png" %}" alt="My image"/>
    <img width="200" src="{% static "clients/Renaul-logo.png" %}" alt="My image"/>
    <img width="200" src="{% static "clients/SRS.png" %}" alt="My image"/>
    <img width="200" src="{% static "clients/TAKSIM.png" %}" alt="My image"/>
    <img width="200" src="{% static "clients/TEKNOROT.png" %}" alt="My image"/>
-->




</div>
  </div>
{% endblock %}
