{% extends 'clients/base.html' %}
{% block content %}
<div class="polla-login">
  <div class="row demo-row polla-login__buttons">
      <div class="col-xs-3 ">
        <a href='{% url 'login' %}' class="btn btn-block btn-lg btn-primary">Ya tengo cuenta</a>
      </div>
      <div class="col-xs-3">
        <a href='{% url 'register_user' %}' class="btn btn-block btn-lg btn-inverse">No me he registrado</a>
      </div>
  </div>
  <div class="polla-login__links">
    <a class="white" href="{% url 'terms' %}">* Términos y condiciones</a>
    <a class="white" href="{% url 'ranking' %}">* Ranking</a>
  </div>
</div>
{% endblock %}
