* {
  box-sizing: border-box;
}

html {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  min-height: 100%;
}

input {
    color: black;
}

select {
  color: black;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  color: #ecf0f1;
}

.base {
  width: 100%;
  min-height: 100%;
  margin-bottom: -100px;
  background-size: cover !important;
  display: inline-block;
}

.wrapper {
  padding: 3rem;
  max-width: 1120px;
  margin-top: 2rem;
}

.footer {
  padding: 2rem;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: inline-block;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1330px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.alert-warning {
   color: black !important;
}

.footer-list > figure {
  margin-right: 0rem;
  margin-bottom: 1rem;
  box-sizing: initial;
}

.footer-list > figure > img {
  max-height: 80px;
  display: block;
  max-width: 180px;
}

.head-logos {
  display: flex;
  justify-content: center;
}

.head-title {
  text-align: center;
  margin-top: 1rem;
  color: white;
}

.white {
  color: white;
}
.head {
  margin: 0 auto;
}

.polla-login {
  text-align: center;
}

.polla-login__buttons {
  display: flex;
  justify-content: center;
}

.polla-login__links {
  margin-top: 2rem;
}

.polla-login__links > a {
  display: block;
}

.panel {
  background: transparent;
}

.loginbox {
  display: flex;
flex-direction: column;
align-items: center;
}

.loginbox > p, label, .loginbox > h2, .loginbox > a{
  display: flex;flex-direction: column;
  color: white;
}

.helptext {
  color: white;
}

.base ul > li {
  color: white;
}

.errorlist {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 4px;
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: black !important;
  width: auto;
  display: inline-block;
  box-sizing: border-box;
}

.errorlist > li {
  color: black !important;
  margin-left: 1rem;
}
